
<div class="panel panel-default" ng-init="getBooks()">
  <div class="panel-heading">
    <h3 class="panel-title">New Books</h3>
    <br>
    <br>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="book in books">
      <div class="col-md-8">
        <img class="thumbnail" ng-src="{{book.image_url}}">
        <br>
        <br>
      </div>
      <div class="col-md-8">
        <h4>{{book.title}}</h4>
        <br>
        <a class="btn btn-primary" href="#!/books/details/{{book._id}}">View Details</a>
      </div>
    </div>
  </div>
</div>
</div>
